.section5 {
  width: 1260px;
  height: 849px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.section5 h2 {
  margin-bottom: 2rem;
  color: #2e2e2e;
  font-family: 'Glacial Bold';
  font-size: 3.375rem;
  margin-left: 9rem;
}
.section5-row {
  display: flex;
  gap: 2rem;
}

.section5-left {
  width: 14rem;
  height: 16rem;
  background: #15263e;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
}

.section5-left > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section5-left p {
  margin-bottom: 1rem;
  color: #ffffff;
  font-family: 'Glacial Bold';
  font-size: 1rem;
}

.section5-right {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}

.section5-image {
  position: relative;
  width: 300px;
  height: 350px;
  overflow: hidden;
  background: black 0% 0% no-repeat padding-box;
  background-color: black;
}

.section5-image img {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
  object-fit: cover;
}

.section5-image:hover img {
  opacity: 0.3;
}

.section5-circle {
  position: absolute;
  bottom: 200px;
  right: 120px;
  display: flex;
  width: 50px;
  height: 50px;
  border: 2px solid #e93656;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.section5-image:hover .section5-circle {
  opacity: 1;
}

.section5-text {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.section5-image:hover .section5-text {
  opacity: 1;
}

.section5-text p {
  white-space: nowrap;
  text-align: center;
}

.section5-text p:nth-child(1) {
  color: #dddddd;
  font-size: 0.35rem;
  font-family: 'Muli';
  margin-bottom: 0.3rem;
}
.section5-text p:nth-child(2) {
  color: #ffffff;
  margin-bottom: 5.5rem;
  font-size: 1rem;
}

.section5-mockup-design {
  margin-left: -0.5rem !important;
}
.section5-left p.selected {
  color: #e93656;
}
.section5-left p {
  cursor: pointer;
}

.section5 svg {
  margin-top: 40%;
  margin-left: 35%;
}

@media screen and (max-width: 768px) {
  .section5 {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
  }

  .section5 h2 {
    margin-bottom: 2rem;
    color: #2e2e2e;
    font-family: 'Glacial Bold';
    font-size: 2.5rem;
    margin-left: 0;
  }
  .section5-row {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .section5-left {
    width: 100%;
    height: auto;
    background: #15263e;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow: hidden;
  }

  .section5-left > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .section5-left p {
    margin-bottom: 1rem;
    color: #ffffff;
    font-family: 'Glacial Bold';
    font-size: 1rem;
  }

  .section5-right {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }

  .section5-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    background: black 0% 0% no-repeat padding-box;
    background-color: black;
  }

  .section5-image img {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
  }

  .section5-image:hover img {
    opacity: 0.3;
  }

  .section5-circle {
    position: absolute;
    bottom: 50%;
    right: 40% !important;
    display: flex;
    width: 50px;
    height: 50px;
    border: 2px solid #e93656;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .section5-image:hover .section5-circle {
    opacity: 1;
  }

  .section5-text {
    display: flex;
    flex-direction: column;
    color: #ffffff;
  }
}
@media screen and (max-width: 1024px) {
  .section5 {
    width: 50%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    margin-top: 4rem;
  }

  .section5 h2 {
    margin-bottom: 2rem;
    color: #2e2e2e;
    font-family: 'Glacial Bold';
    font-size: 2.5rem;
    margin-left: 0;
  }

  .section5-row {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .section5-left {
    width: 100%;
    height: auto;
    background: #15263e;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow: hidden;
  }

  .section5-left > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .section5-left p {
    margin-bottom: 1rem;
    color: #ffffff;
    font-family: 'Glacial Bold';
    font-size: 1rem;
  }

  .section5-right {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }

  .section5-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    background: black 0% 0% no-repeat padding-box;
    background-color: black;
    object-fit: cover;
  }

  .section5-image img {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
  }

  .section5-image:hover img {
    opacity: 0.3;
  }

  .section5-circle {
    position: absolute;
    bottom: 50%;
    right: 45% !important;
    display: flex;
    width: 50px;
    height: 50px;
    border: 2px solid #e93656;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .section5-image:hover .section5-circle {
    opacity: 1;
  }

  .section5-text {
    display: flex;
    flex-direction: column;
    color: #ffffff;
  }
}

@media screen and (max-width: 1200px) {
  .section5 {
    width: 50%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    margin-top: 4rem;
  }

  .section5 h2 {
    margin-bottom: 2rem;
    color: #2e2e2e;
    font-family: 'Glacial Bold';
    font-size: 2.5rem;
    margin-left: 0;
  }

  .section5-row {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .section5-left {
    width: 95%;
    height: auto;
    background: #15263e;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow: hidden;
  }

  .section5-left > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .section5-left p {
    margin-bottom: 1rem;
    color: #ffffff;
    font-family: 'Glacial Bold';
    font-size: 1rem;
  }

  .section5-right {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }

  .section5-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    background: black 0% 0% no-repeat padding-box;
    background-color: black;
    object-fit: cover;
  }

  .section5-image img {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
    object-fit: cover;
  }

  .section5-image:hover img {
    opacity: 0.3;
  }

  .section5-circle {
    position: absolute;
    bottom: 50%;
    right: 45%;
    display: flex;
    width: 50px;
    height: 50px;
    border: 2px solid #e93656;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .section5-image:hover .section5-circle {
    opacity: 1;
  }

  .section5-text {
    display: flex;
    flex-direction: column;
    color: #ffffff;
  }
}
