.section8-footer {
  text-align: center;
}

.section8-footer > div:first-child {
  background: #000000 0% 0% no-repeat padding-box;
  width: 100%;
  position: relative;
}

.section8-footer img {
  opacity: 0.3;
  width: 100%;
}

.section8-contact-us {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
  width: 46%;
}

.section8-contact-us h2,
.section8-contact-us h3 {
  text-align: center;
}

.section8-contact-us h2 {
  font-family: 'Jaapokki Regular';
  color: #ffffff;
  letter-spacing: 1.35px;
  font-size: 3rem;
  line-height: 2rem;
}

.section8-contact-us h3 {
  font-family: 'Roboto Light';
  letter-spacing: 0.51px;
  color: #eeeeee;
  font-size: 1rem;
  margin-bottom: 3rem;
}

.section8-contact-us input {
  width: calc(50% - 10px);
  margin-bottom: 10px;
  display: inline-block;
}

.section8-contact-us input:last-child {
  width: 100%;
}

.section8-footer h2 {
  margin-bottom: 10px;
}

.section8-footer p {
  margin-bottom: 20px;
}

.section8-footer svg {
  width: 100%;
  height: auto;
  flex-direction: row;
}

.section8-footer > div:last-child {
  background: #171717 0% 0% no-repeat padding-box;
  color: white;
  padding: 20px;
}

.section8-contact-us input {
  width: calc(30.1%);
  margin-right: 10px;
  height: 2.5rem;
}

.section8-contact-us input:nth-child(7) {
  width: calc(97%);
  margin-right: 0;
  height: 6rem;
}

.section8-filter {
  position: relative;
  outline: none;
  padding: 5px;
}

.placeholder1 {
  position: absolute;
  left: 2rem;
  top: 10.75rem;
  color: #515151;
  font-family: 'Poppins SemiBold';
  font-size: 0.7rem;
}

.placeholder2 {
  position: absolute;
  left: 20rem;
  top: 10.75rem;
  color: #515151;
  font-family: 'Poppins SemiBold';
  font-size: 0.7rem;
}

.placeholder3 {
  position: absolute;
  left: 37.5rem;
  top: 10.75rem;
  color: #515151;
  font-family: 'Poppins SemiBold';
  font-size: 0.7rem;
}

.placeholder4 {
  position: absolute;
  left: 2rem;
  top: 14.5rem;
  color: #515151;
  font-family: 'Poppins SemiBold';
  font-size: 0.7rem;
}

.placeholder1:after,
.placeholder2:after,
.placeholder3:after,
.placeholder4:after {
  content: '*';
  color: #daaf1b;
}

.section8-filter:focus + span {
  display: none;
}

.section8-contact-us button {
  font-size: 0.8rem;
  letter-spacing: 0.96px;
  color: #e93656;
  font-family: 'Glacial Bold';
  background: #daaf1b00 0% 0% no-repeat padding-box;
  border: 2px solid #e93656;
  padding: 0.9rem 2.4rem;
  margin-top: 2rem;
  cursor: pointer;
}

.section8-button {
  align-items: center;
  justify-content: center;
  display: flex;
}

.section8-end-text h2:nth-child(1)::after {
  content: '';
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #e93656;
  margin-top: 0.55em;
  display: inline-block;
}

.section8-end-text h2:nth-child(1) {
  justify-content: center;
  font-size: 5rem;
  font-family: 'Poppins ExtraBold';
}

.section8-end-text h3:nth-child(2) {
  justify-content: center;
  font-size: 1rem;
  font-family: 'Roboto Regular';
  letter-spacing: 0.09px;
  color: #a5a5a5;
}

.section8-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 39rem;
}

.section8-footer > div:nth-child(2) {
  background: #282828 0% 0% no-repeat padding-box;
  color: white;
  padding: 20px;
  width: 98.6%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.section8-svg {
  flex-direction: row;
  display: flex;
  gap: 2rem;
  width: 13rem;
  height: auto;
  margin: 3rem 0;
}

.section8-tata-for-now {
  letter-spacing: 0px;
  color: #a0a8b7;
  font-family: 'Muli';
}

.LAST-CLASS {
  color: #ffffff;
}

.section8-custom-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.section8-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.section8-alert-close {
  background-color: #e93656;
  margin-top: 2rem;
  cursor: pointer;
  border: 0;
  padding: 0.5rem 2rem;
  color: #ffffff;
}
