.section3-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 7.687rem;
  margin-bottom: 7.687rem;
  gap: 2rem;
}

.section3-row {
  display: flex;
  gap: 3rem;
  justify-content: center;
  width: 100%;
}

.section3-card {
  width: 285px;
  height: 360px;
  background: #fafafa 0% 0% no-repeat padding-box;
  opacity: 0.97;
  transition: background 0.5s ease, opacity 0.5s ease;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section3-card:hover {
  background: #15263e 0% 0% no-repeat padding-box;
  opacity: 0.98;
}

.section3-card svg {
  width: 100px;
  height: 100px;
  opacity: 1;
  transition: opacity 0.001s ease;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.section3-card:hover svg {
  opacity: 0;
}

.section3-card p {
  text-align: center;
  transition: color 0.3s ease, margin-bottom 0.3s ease;
  letter-spacing: 0.44px;
  color: #222222;
  font-family: 'Glacial Bold';
  font-size: 1.375rem;
}

.section3-card .section3-additional-text {
  font-size: 0.875rem;
  font-family: 'Muli Light';
}

.section3-card:hover p {
  color: #fff;
  margin-bottom: 2rem;
}

.section3-card .section3-additional-text {
  display: none;
  color: #15263e;
  transition: color 0.3s ease;
  text-align: center;
}

.section3-card:hover .section3-additional-text {
  display: block;
}
